<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Username to connect to the Tado API -->
    <add key="TadoUsername" value="your@email.com" />

    <!-- Password to connect to the Tado API -->
    <add key="TadoPassword" value="yourpassword" />

    <!-- Home ID as registered with Tado -->
    <add key="TadoHomeId" value="123456" />

    <!-- Zone ID as registered with Tado -->
    <add key="TadoZoneId" value="7" />

    <!-- Mobile Device ID as registered with Tado -->
    <add key="TadoMobileDeviceId" value="123456" />

    <!-- Tado Device ID as registered with Tado -->
    <add key="TadoDeviceId" value="RU1234567890" />
  </appSettings>
</configuration>